.formRecordDetails{
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.formRecordDetails select.record_ACTIVO{
    background-color: rgba(0, 128, 0, 0.31);

}
.formRecordDetails select.record_DESCONOCIDO{
    background-color: rgba(255, 255, 0, 0.326);

}
.formRecordDetails select.record_EGRESADO{
background-color: rgba(128, 128, 128, 0.314);
}
.formRecordDetails select.record_SINIESTRADO{
    background-color: rgba(255, 0, 0, 0.315);

}
.formRecordDetails select.record_ELIMINADO{
    background-color: rgba(0, 0, 255, 0.326);

}

.form-control:disabled.licenseState_OK{
    background-color: rgba(0, 128, 0, 0.31);
}
.licenseState_INHABILITADA_TEMPORALMENTE{
    background-color: rgba(255, 196, 0, 0.76);
}

.licenseState_BAJA{
    background-color: rgba(255, 0, 0, 0.315);
}
.formRecordDetails .smallInputContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.formRecordDetails .smallInputContainer div{
    width: 90%;
    max-width: 350px;

}
.formRecordDetails .textArea{
    width: 100%;
}
.formRecordDetails button{
    width: 60%;
}

.goBackBtn{
    margin-top: 5vh;
    margin-left: 5vw;
}
