.footer{
    margin-top: 8vh;
    height: 10vh;
    background-color: rgb(25 118 210);
    display: flex;
    justify-content: center;
    text-align: center;

}
.footer .logos{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer svg, .footer img{
    width: 15%;
    height: 15%;
    fill: white;
    margin: auto;
}
